@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}

.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}

.btn-black:hover {
  color: var(--mainPink) !important;
  background-color: var(--mainBlack);
}

.btn-pink:hover {
  color: var(--mainBlack) !important;
  background-color: var(--mainPink);
}

.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2rem;
  color: var(--mainPink);
}

.nav-link {
  color: var(--mainPink);
  font-size: 1.7rem;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (max-width: 990px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cart-info_icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;

  font-size: 1rem;
}

.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}

.cart-info:hover .cart-info_icon {
  color: var(--mainWhite);
}

.max-height {
  min-height: calc(100vh - 76px);
  background: url("../images/headerBcg.jpeg");
  /* background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../images/headerBcg.jpeg"); */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.banner {
  color: var(--mainBlack);
  margin-top: -4rem;
}

.banner-title {
  color: var(--mainPink);
  font-size: 4rem;
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (max-width: 770px) {
  .about-text {
    width: 100% !important;
  }
}

.about-img_container {
  position: relative;
}

.about-img_container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s linear;
}

.about-img_container:hover::before {
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .filter-btn {
    font-size: 0.7rem;
  }
}

.store {
  background: var(--mainGrey);
}

.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

.single-item {
  transition: all 0.3s linear;
}

.single-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), 0px 5px 7px rgba(0, 0, 0, 0.35);
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: #ffc304;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;

  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: var(--mainWhite);
}

.services {
  color: var(--mainWhite);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/servicesBcg.jpeg") center/cover fixed no-repeat;
}

.service-title {
  letter-spacing: 0.5rem;
}

.service-text {
  word-spacing: 0.5rem;
}

.footer-title {
  background: var(--mainBlack);
}

.footer-shop {
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../images/headerBcg.jpeg") center/cover fixed no-repeat;
}

.footer-contact {
  background: var(--mainGrey);
}

.footer-icons .footer-icon {
  margin-top: 1.5rem;
  font-size: 2.5rem;
}

.footer-icon {
  font-size: 1.5rem;
  color: var(--mainBlack);
  transition: all 0.4s ease-in-out;
}

.footer-icon:hover {
  color: var(--mainPink);
}

.footer-icons .footer-icon:hover {
  color: red;
}
